* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* utility */

.bm {
    margin-bottom: 10px;
}

/* general */

header {
    width: 100%;
    line-height: 80px;
    height: 80px;
    vertical-align: middle;
    background-color: white;
    margin-bottom: 40px;
}

body {
    background-color: lightgrey;
}

main {
    width: 75%;
    margin: auto;
    height: 750px;
    background-color: white;
}

h2 {
    font-weight: bold;
    font-size: 20px;
}

/* id */

#boolean-logo {
    vertical-align: middle;
    margin-left: 10px;
}

#logo-name {
    font-size: 40px;
    font-weight: bolder;
    color: black;
    vertical-align: middle;
}

/* top section styling */

.top-section {
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    vertical-align: middle;
    border-bottom: 1px solid lightgrey;
    background-color: white;
}

/* top section buttons */

.add-task {
    height: 25px;
    line-height: 25px;
    width: 60px;
    display: inline-block;
    color: white;
    background-color: #47adf1;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    border-radius: 3px;
}

.add-section {
    height: 25px;
    line-height: 25px;
    width: 60px;
    display: inline-block;
    color: grey;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    border: 1px solid grey;
    border-radius: 3px;
}

/* tasks */

.list {
    padding-top: 30px;
    padding-left: 30px;
}

.list-element {
    margin-bottom: 20px;
}

/* task status buttons */

.done::before {
    content: "\2713";
    font-size: 15px;
    margin-right: 5px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
}

.not-done::before {
    content: "\2717";
    font-size: 15px;
    margin-right: 5px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
}

/* task-type buttons */

.editorial::after {
    content: "Editorial";
    height: 20px;
    line-height: 20px;
    width: 60px;
    display: inline-block;
    margin-left: 5px;
    color: white;
    background-color: #47adf1;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    border-radius: 10px;
}

.q1-goals::after {
    content: "Q1 Goals";
    height: 20px;
    line-height: 20px;
    width: 60px;
    display: inline-block;
    margin-left: 5px;
    color: white;
    background-color: #9c72e4;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    border-radius: 10px;
}

.recruiting::after {
    content: "Recruiting";
    height: 20px;
    line-height: 20px;
    width: 60px;
    display: inline-block;
    margin-left: 5px;
    color: white;
    background-color: #64c0a9;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    border-radius: 10px;
}

.mobile::after {
    content: "Mobile";
    height: 20px;
    line-height: 20px;
    width: 60px;
    display: inline-block;
    margin-left: 5px;
    color: white;
    background-color: orange;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    border-radius: 10px;
}

.website::after {
    content: "Website";
    height: 20px;
    line-height: 20px;
    width: 60px;
    display: inline-block;
    margin-left: 5px;
    color: white;
    background-color: #d863a1;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    border-radius: 10px;
}

.sales::after {
    content: "Sales";
    height: 20px;
    line-height: 20px;
    width: 60px;
    display: inline-block;
    margin-left: 5px;
    color: white;
    background-color: #d863a1;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    border-radius: 10px;
}