* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    line-height: 80px;
    height: 80px;
    vertical-align: middle;
    background-color: white;
}

body {
    background-color: yellow;
}

main {
    padding-top: 30px;
    width: 75%;
    margin: auto;
    height: 1000px;
}

#boolean-logo {
    vertical-align: middle;
    margin-left: 10px;
}

#logo-name {
    font-size: 40px;
    font-weight: bolder;
    color: black;
    vertical-align: middle;
}

.top-section {
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    vertical-align: middle;
    border-bottom: 1px solid grey;
    background-color: white;
}

.add-task {
    height: 25px;
    line-height: 25px;
    width: 60px;
    display: inline-block;
    color: white;
    background-color: #47adf1;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    border-radius: 3px;
}

.add-section {
    height: 25px;
    line-height: 25px;
    width: 60px;
    display: inline-block;
    color: grey;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    border: 1px solid grey;
    border-radius: 3px;
}